.muted, .muted a {
    color: #868e96;
}

.small {
    font-size: 0.875rem; /*14px*/
    line-height: 1.3125rem; /*21px*/
}

.xtrasmall {
    font-size: 0.75rem; /*12px*/
    line-height: 1.125rem; /* 18px*/
}

.list-unstyled a {
    text-decoration: none;

} 
.list-inline li {
    display: inline-block; 
} 

.list-separated li:after {
    content: '\00a0\2022\00a0\00a0';
}

.list-separated li:last-child:after{
    content: '';
}

.text-danger {
    color: #e03131;
}

.text-success{
    color: #2f9e44;
}
