.layout {
    display: flex;
    flex-direction: column;
    margin: auto;

    &__main {
        flex: 1 100%;
        padding: $spacer-x;
    }

    &__aside {
        flex: 1 100%;
        padding: $spacer-x;
    }
 } 

// Medium and large screen
@media all and (min-width: $breakpoint-tablet) {

    .layout {
        flex-direction: row; 
        max-width: 1000px;
        padding: 0 0.5rem;

    &__main { 
        flex: 2 0rem; 
        flex-direction: column;
        }
        
    &__aside { 
        flex: 1 0rem; 
        }
    }
}