//COLORS
$theme-color:#e9ecef;
$secondary-color: #fff;
$ternary-color: rgba(134, 142, 150, 0.3);
$navbar-color: #1a6ec2;
$list-item-color: rgb(211, 211, 211);
$hover-color: rgb(176, 196, 222);


//FONTS
$default-font: 'Roboto Slab', serif;
$secondary-font: 'Arial', sans-serif;
$font-size: 1rem;
$headline-size: 1.75rem;
$small-text-size:  0.875rem;
$line-height: 1.5rem; 

//WHITE-SPACE
$default-margin: 1em 0 1rem;
$spacer-x: 0 1rem;
$spacer-left: 0.5rem;

//BREAKPOINTS
$breakpoint-tablet: 768px;
